// 좌측 정렬
@mixin flexbox-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// 가운데 정렬
@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 중앙 정렬
@mixin flexbox-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}